
- @jobs.each do |job|
    %h2= link_to job.title, job
    %p= image_tag job.image.url(:medium)
    %span Company:
    %p= job.company
    %span Job Description:
    %p= job.description
    %span Posted by:
    %p= job.user.username
    %hr
